@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

.logo {
  display: flex;
  border-radius: 2px;
  box-shadow: 2px 2px rgba(100, 100, 100, 0.3);
  width: 55px;
  height: 55px;
  color: white;
  background-color: black;
}

.container {
  margin: 0 auto;
  align-self: center;
}

.logo h3 {
  font-family: "Red Rose", cursive;
  font-weight: bold;
  font-size: 16px;
}

.logo h4 {
  font-family: "Red Rose", cursive;
  font-weight: 300;
  font-size: 12px;
}

.links {
  font-size: 16px;
  align-self: center;
}

.links a {
  text-decoration: none;
  font-weight: 300;
  color: black;
  position: relative;
}

.links a + a {
  margin-left: 32px;
}

.links a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.3px;
  bottom: -4px;
  left: 0;
  background-color: black;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}
