@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

.logo {
  display: flex;
  border-radius: 2px;
  box-shadow: 2px 2px rgba(100, 100, 100, 0.3);
  width: 55px;
  height: 55px;
  color: white;
  background-color: black;
}

.container {
  margin: 0 auto;
  align-self: center;
}

.logo h3 {
  font-family: "Red Rose", cursive;
  font-weight: bold;
  font-size: 16px;
}

.logo h4 {
  font-family: "Red Rose", cursive;
  font-weight: 300;
  font-size: 12px;
}

.links {
  font-size: 16px;
  align-self: center;
}

.links a {
  text-decoration: none;
  font-weight: 300;
  color: black;
  position: relative;
}

.links a + a {
  margin-left: 32px;
}

.links a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.3px;
  bottom: -4px;
  left: 0;
  background-color: black;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

/* ============= CARD =============== */

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  min-height: 400px;
  background-color: black;
  margin: 2rem auto;
  box-shadow: 2px 2px rgba(100, 100, 100, 0.2);
  border-radius: 2px;
  animation-name: up 200ms ease;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
  }
}

.image {
  background-image: url(https://source.unsplash.com/collection/10356769/600x600);
  width: 400px;
  min-height: 400px;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.content {
  font-family: "Red Rose", cursive;
  padding: 0.5rem;
  color: white;
}

.content .item {
  padding: 0.7rem;
  border-bottom: 0.1px solid rgba(100, 100, 100, 0.3);
}

.content .item div:nth-child(1) {
  font-size: 12px;
  letter-spacing: 1px;
}

.content .item div:nth-child(2) {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.content h3 {
  font-weight: bold;
  display: block;
  text-align: center;
}

.content .item:last-child {
  border: none;
}

.content .item span {
  background-color: #7777;
  padding: 8px 16px;
  border-radius: 16px;
  margin-left: 4px;
  display: inline-block;
  margin-top: 8px;
}

/* ============== FORM ==================*/

input {
  margin-top: 5px;
  width: 100%;
  padding: 0.2rem;
  outline: none;
  font-size: 18px;
  color: #555;
  border-radius: 5px;
}

input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

select {
  margin-top: 5px;
  border-radius: 5px;
  padding: 0.2rem;
  color: #555;
}

input::placeholder {
  font-size: 14px;
  font-weight: normal;
}

input[type="date"]::placeholder {
  font-size: 14px;
  font-weight: normal;
}

a.button,
button[type="submit"] {
  padding: 8px 16px;
  width: 100%;
  border-radius: 4px;
  margin: 5px auto;
  font-weight: bold;
  font-size: 15px;
}

a.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #555;
}
