{% extends "layout.njk" %}

{% block content %}
    <div class="card table_index">
        <div class="header">
            <a class="new_member" href="/students/create">Add Student</a>
            <form action="/students" method="GET">
                <input type="text" name="filter" placeholder="name or email" value="{{filter}}">
                <button type="submit">Filter</button>
            </form>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Hours/Week</td>
                    <td>More</td>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image:url({{ student.avatar_url }})"></span>
                            {{student.name}}</td>
                        <td>
                            {{ student.email }}
                        </td>
                        <td>
                            {{student.hours}}
                        </td>
                        <td>
                            <a href="/students/{{student.id}}">more</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}