<div class="item">
    <div>Avatar URL</div>
    <div><input type="url" name="avatar_url" placeholder="http://" value="{{ teacher.avatar_url }}"></div>
</div>

<div class="item">
    <div>Name</div>
    <div><input type="text" name="name" placeholder="Teacher's name" value="{{ teacher.name }}"></div>
</div>

<div class="item">
    <div>Age</div>
    <div><input type="date" name="birth" value="{{ teacher.birth }}"></div>
</div>

<div class="item">
    <div>Scholarity</div>
    <div>
        <select name="scholarity">
            <option value="High School" {% if teacher.scholarity=="High School" %} selected="selected" {% endif %}>High School</option>
            <option value="Graduate" {% if teacher.scholarity=="Graduate" %} selected="selected" {% endif %}>Graduate</option>
            <option value="Master's Degree" {% if teacher.scholarity=="Master's Degree" %} selected="selected" {% endif %}>Master's Degree</option>
            <option value="Doctorate Degree" {% if teacher.scholarity=="Doctorate Degree" %} selected="selected" {% endif %}>Doctorate Degree</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Type of Class</div>
    <div>
        <span><input type="radio" name="type_class" value="Distance" {% if teacher.type_class=="Distance" %} checked="checked" {% endif %}>Distance</span>
        <span><input type="radio" name="type_class" value="Presential" {% if teacher.type_class=="Presential" %} checked="checked" {% endif %}>Presential</span></div>
</div>

<div class="item">
    <div>Subjects</div>
    <div>
        <input type="text" name="subjects" placeholder="Put subjects separated by commas" value="{{ teacher.subjects }}">
    </div>
</div>
<button type="submit">Submit</button>